<template>
  <div class="container">
    <form @submit.prevent="lendBook()">
      <input 
        type="text" v-model="book"
        placeholder="Book name" autocomplete="off" 
        /> 
      <input 
        type="text" v-model="author"
        placeholder="Author name" autocomplete="off" 
        /> 
      <button type="submit">{{ btnText }}</button>
    </form>
  </div>
</template>

<script>
import gql from 'graphql-tag';

const DONATE_BOOK = gql`
  mutation insert_book_with_author($book: String!, $author: String!) {
    insert_books(objects: {name: $book, author: {data: {name: $author}}}) {
      affected_rows
      returning {
        id
        name
        author {
          id
          name
        }
      }
    }
  }
`;

export default {
  name: 'Lending',
  data() {
    return {
      author: '',
      book: '',
      btnText: 'Donate',
      btnDisabled: false
    }
  },
  apollo: {
  },
  methods: {
    setButtonText(txt) {
      this.btnText = txt;
    },
    toggleButton() {
      this.btnDisabled = !this.btnDisabled;
      return;
    },
    reset() {
      setTimeout(() => {
        this.author = '';
        this.book = '';
        this.setButtonText("Donate");
      }, 1000);
      return;
    },
    async lendBook() {
      if (this.author === '' || this.book === '') {
        return;
      }
      
      this.toggleButton();
      this.setButtonText(" . . . ");
      
      try {
        const data = await this.$apollo.mutate({
          mutation: DONATE_BOOK,
          variables: {
            book: this.book,
            author: this.author
          },
        });
        if (!data) {
          this.setButtonText('Uh oh!');
        }
        this.reset();
        return;
      } catch (err) {
        return;
      }
    }
  }
}
</script>

<style scoped>

</style>
