* {
  box-sizing: border-box;
}

.container {
  width: 50%;
  font-family: sans-serif;
  margin: 0 auto;
  font-size: 1.5rem;
}

.container form {
  margin-top: 30px;
  padding: 30px;
}

.container form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px; 
  background: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  resize: vertical;
}

.container form button {
  padding: 15px;
  border: none;
  color: white;
  background-color: #A587C8;
  border-radius: 4px;
  font-size: 1.1rem;
}

.container form button:hover {
  cursor: pointer;
  background-color: #7E5EA4;
}

@media only screen and (max-width: 728px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 420px) {
  .container {
    width: 100%;
  }
}