<template>
  <div id="app">
    <Lending msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import Lending from './components/Lending.vue'

export default {
  name: 'app',
  components: {
    Lending
  }
}
</script>

<style>

</style>
